h1 {
    text-align: center;
    margin: 70px 0 50px;
}

h2 {
    text-align: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 50px;
}

.item {
    width: 33%;
    height: auto;
    padding: 15px;
}

p {
    line-height: 1.5;
}